/* Initialization Setup */

.container {
    width: 1190px;
    margin: 0 auto;
}

/* Navigation Bar Start */
.top-bar {
    height: 30px;
    background-color: #ECECEC;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}
.top-bar-nav .list {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.top-bar-nav ul li {
    float: left;
}
.top-bar-nav ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}
.top-bar-nav .list li:first-child a {
    padding-left: 0;
}
.top-bar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}


/* Header Start */
.header {
    height: 120px;
    /*background-color: skyblue;*/
}
.header .container .logo img {
    height: 120px;
    width: 190px;
    opacity: 0.5;
}
.header .search form{
    margin-top: 42px;
    font-size: 0;
}
.header .search form input {
    width: 508px;
    height: 34px;
    border: 1px solid #dd302d;
}
.header .search form button {
    width: 80px;
    height: 36px;
    background-color: #DD302D;
    border: 1px solid #dd302d;
    vertical-align: top;
    background-image: url("../images/search_icon.png");
    background-size: 24px 24px;
    background-repeat: no-repeat;
    background-position: 28px 6px;
}

/* main navigation Start */
.m-nav {
    height: 48px;
    border-bottom: 1px solid #DD302D;
}
.m-nav .all-tags {
    height: 48px;
    width: 190px;
    background-color: #DD302D;
    color: white;
    text-align: center;
    line-height: 48px;
    font-size: 16px;
}
.m-nav .m-nav-list {
    height: 48px;
    text-align: center;
    line-height:48px;
    font-size: 16px;
}
.m-nav .m-nav-list a {
    margin: auto 10px;
}

/* main content Start */
.main-content {
    margin-top: 10px;
}
.main-content .slide-nav {
    width: 190px;
    height: 458px;
    background-color: #F4F4F4;
    position: relative;
}
.slide-nav li {
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 16px;
}
.main-content .slide-nav li:hover {
    background-color: #dd302d;
}
.main-content .slide-nav>a:hover {
    color: white;
}
.second-menu {
    width: 680px;
    height: 458px;
    background-color: #F4F4F4;
    position: absolute;
    top: 0;
    left: 190px;
    padding-left: 20px;
    display: none;
}
.main-content .slide-nav li:hover .second-menu{
    display: block;
}
.second-menu dl {
    height: 36px;
    line-height: 36px;
    font-size: 14px;
}
.second-menu dl:first-child {
    margin-top: 10px;
}
.second-menu dt {
    float: left;
    width: 70px;
    font-weight: bold;
    margin-right: 10px;
}
.second-menu dd {
    float: left;
}
.second-menu dd a {
    padding: 0 10px;
    border-left: 1px solid #666;
}
.main-content .banner {
    width: 690px;
    height: 458px;
    background-color: green;
    margin: 0 10px;
}
.main-content .banner img {
    width: 690px;
    height: 458px;
}
.main-content .slide-other {
    width: 290px;
    height: 458px;
}

.slide-other .slide-other-message {
    width: 260px;
    height: 156px;
    border: 1px solid #D9D9D9;
    padding: 0 14px;
}
.slide-other .slide-other-message .title {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid #D9D9D9;
}
.slide-other .slide-other-message .title span {
    font-size: 14px;
}
.slide-other .slide-other-message .title a {
    font-size: 12px;
}
.slide-other .msg-list li {
    height: 26px;
    line-height: 26px;
}



.slide-other .slide-other-nav {
    margin-top: 10px;
    width: 290px;
    height: 290px;
    background-color: green;
    overflow: hidden;
}
.other-nav-list:first-child{
    margin-top: 16px;
}
.other-nav-list:nth-child(2){
    margin: 11px 0;
}
.slide-other-nav li {
    width: 48px;
    height: 70px;
    background-color: skyblue;
    float: left;
    margin: 0 11px;
}
.slide-other-nav li:first-child{
    margin-left: 16px;
}




