.note{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: lightyellow;
    color: darksalmon;
}

#box1{
    margin-top: 30px;
    width: 100%;
    padding: 20px;
    background-color: lightyellow;
    color: darksalmon;
}