/* Initialization Setup */
.container {
    width: 1190px;
    margin: 0 auto;
}

/* Top Navigation Bar Start */
.top-bar {
    height: 30px;
    background-color: #ECECEC;
}
.welcome {
    height: 30px;
    line-height: 30px;
    font-size: 0;
    color: #666;
}
.welcome span,.welcome a {
    font-size: 12px;
}
.welcome .hello {
    margin-right: 28px;
}
.welcome .login {
    padding-right: 10px;
    border-right: 1px solid #666;
}
.welcome .register {
    padding-left: 10px;
}
.top-bar-nav .list {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
}
.top-bar-nav ul li {
    float: left;
}
.top-bar-nav ul li a {
    padding: 0 15px;
    border-right: 1px solid #666;
}
.top-bar-nav .list li:first-child a {
    padding-left: 0;
}
.top-bar-nav .list li:last-child a {
    padding-right: 0;
    border: 0;
}
/* Top Navigation Bar End */